<div class="container">
  <h1><%= @list.name %></h1>
  <%= @list.photo %>

  <%= link_to "â†©ï¸Back", lists_path %> |
  <%= link_to "âœŽEdit", edit_list_path(@list) %> |
  <%= link_to "ðŸ—‘ï¸Remove", list_path(@list), data: { turbo_met: :delete, turbo_confirm: "Are you sure ?" } %>
</div>
